body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Roboto", "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.loadingBlock {
  width: 80%;
  margin: 0 auto;
  max-width: 300px;
  background-color: #222222;
  border-radius: 50%;

  div img {
    width: 100%;
  }
}

.categoryList {
  border-right: solid 1px;
  border-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0),
                  rgba(100, 100, 100, .6),
                  rgba(0, 0, 0, 0)
  ) 1 100%;
}

.mainImage {
  margin-top: 15px;
  margin-bottom: 15px;

  h1 {
    font-style: italic;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: rgba(40, 167, 69, 1);

    &.iconButtons {
      background-color: rgba(40, 167, 69, 1);
      color: #ffffff;
      padding: 10px;
      border-radius: 50%;
      width: auto;
      margin-right: 15px;

      .inRound {
        margin-left: 3px;
        line-height: 48px;
      }
    }
  }
}

.catalog_link {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  border-right: 1px solid #ffffff;
}

.catalog_main {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 3;
}
.catalog_sub {

}

.dropdown-share {
  position: absolute;
  top: 1px;
  right: -8px;
  .dropdown-menu {
    &.share {
    padding: 10px;
    padding-left: 20px;
      & > * {
        padding-left: 0;
      }
    }
  }
}

.card-img-top-250 {
  min-height: 150px;
  max-height: 150px !important;
  max-width: auto !important;
  width: auto;
  object-fit: contain;
}

.card-position {
  position: relative;
}

.card {
  & .card-title {
    max-height: 3rem;
    min-height: 3rem;
    width: 100%;
    overflow: hidden;
  }
  &:hover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px 1px #c7c7c7;
    width: 100%;
    & .card-title {
      max-height: inherit;
      overflow: visible;
    }
  }  
}

.row {
  margin: 0;
}

.carousel {
  width: 100%;

  .carousel-item {
    width: 100%;
    height: 40vh;
    position: relative;

    &.height-auto {
      height: auto;
    }

    img {
      height: 100%;
      max-height: 250px;
      width: auto;
      margin: 0 auto;
      object-fit: contain;
      display: inline-block;
    }

    .carousel-caption {
      background-color: rgba(40, 167, 69, .6); //rgba(0,0,0, .5);
      color: #ffffff;
      border-radius: 15px;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    color: #000000;
    background-color: #ffffff;
  }
}

.btn {
  margin-left: 10px;
  margin-right: 10px;

  &.btn-basket {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.input-group-text {
    margin-left: 0;
    margin-right: 0;
  }
  .btn-label {
    font-size: .7rem;
    padding-right: 5px;
  }
}

nav {
  .ml-auto {
    .dropdown-menu {
      right: 0;
      left: unset;
    }
  }

  .nav-link {
    font-size: 18px;

    .inRound {
      padding: 5px;
    }
  }
}

.news {
  padding: 15px;

  .newsImage {
    width: 80%;
    margin: 0 auto;
  }
}

.alert-link {
  &.active {
    i {
      font-weight: 900;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.fa {
  span {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
}

.fav-img {
  max-width: 10vw;
}