$bg_color: #293C45;
$link_color_inactive: #98AEB8;
$link_color_active: #ffffff;

$footer_height: 580px;

.footer {
    background-color: $bg_color;
    padding: 35px 90px;
    min-height: $footer_height;

    hr {
        border-bottom: 1px solid #465D68;
        margin: 15px;
    }

    & .footer-group {
        &_catalog {
            width: 100%;
        }
        
        &_contacts {
            max-width: 100%;
        }

        &__title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            text-transform: uppercase;
            color: #ffffff;
            text-align: left;
            font-size: 16px;
            font-weight: bold;
            width: 100%;

            & * {
                flex-shrink: 0;
            }

            & .hr {
                width: 100%;
                flex-shrink: 1;
                margin: 10px;
                margin-bottom: -5px;
                border-bottom: 1px solid #465D68;
            }
        }
        &__toggle-btn {
            border-radius: 50%;
            width: 48px;
            height: 48px;
            background-color: #229DD2;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            
            & i {
                width: 15px;
                height: 15px;
                
            }
        }
        
    }

    .footer-catalog {
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;
        text-align: left;
        align-items: flex-start;
        list-style: none;
        padding: 20px 0;
        max-height: $footer_height *.85;
        
        
        & .catalog-list__item {
            margin: 10px 0;
            width: 25%;
            display: flex;

            &:first-child {
                text-transform: uppercase;
                font-weight: bold;
                
                & .catalog-list__item-text {
                    color: #229DD2;
                    width: auto;
                }
            }

            & .catalog-list__item-text {
                color: $link_color_inactive;
                font-size: 14px;
                line-height: 18px;
                width: 65%;
                

                &:hover {
                    color: $link_color_active;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }

    .footer-contacts {
        width: 100%;
        text-align: left;
        margin-top: 15px;
        
        &-row-wrap {
            display: flex;
            flex-direction: column;
            flex-flow: column wrap;
            max-height: 60px;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 15px;
        }

        & .footer-contacts__social {
            display: flex;
            flex-flow: row wrap;
            padding-left: 25px;

            &-title {
                font-size: 14px;
                font-weight: bold;
                color: $link_color_active;
                margin-bottom: 10px;
            }
            &-list {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
            }
            &-link i {
                color: #229dd2;
                margin: 0 10px;
                font-size: 18px;
                
            }
        }
    }

    .footer__link {
        position: relative;
        font-size: 14px;
        color: $link_color_inactive;
        text-decoration: none;
        margin-left: 30px;
        margin-top: 5px;
        
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            left: -25px;
            top: 0;
            color: #fff;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &_tel {
            font-size: 16px;
            color: $link_color_active;
            font-weight: bold;
            
            &::before {
                background-image: url('./images/icons/phone.png');
            }
        }
        &_address {
            white-space: pre;
            font-size: 14px;
            color: $link_color_inactive;

            &::before {
                background-image: url('./images/icons/pin.png');
            }
        }
        &_shedule {
            &::before {
                background-image: url('./images/icons/clock.png');
            }
        }
        &_mailto {
            &::before {
                background-image: url('./images/icons/mail.png');
            }
        }

        &_workshop {
            font-weight: bold;
            color: $link_color_active;

            &::before {
                background-image: url('./images/icons/sewing-machine.png');
            }
        }

        &_news {
            font-weight: bold;
            color: $link_color_active;

            &::before {
                background-image: url('./images/icons/newspaper.png');
            }
        }

        &_deliveryandpayment {
            font-weight: bold;
            color: $link_color_active;
            
            &::before {
                background-image: url('./images/icons/delivery.png');
            }
        }

        &_attention {
            text-align: left;
            margin-top: 40px;

            &::before {
                background-image: url('./images/icons/warning.png');
            }
        }
       
    }

    .footer-nav-links {
        margin: 25px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}




@media screen and(max-width: 1660px) {
    .footer .footer-catalog {
        min-height: $footer_height *1.2;
        
    }
}

@media screen and(max-width: 1140px) {
    .footer {
        flex-direction: column;

        & .footer-group__title {
            margin-bottom: 20px;
        }
    }
}

@media screen and(max-width: 1140px) {
    .footer .footer-catalog {
        min-height: $footer_height *1.5;
        
        & .catalog-list__item {
            width: 33%;
            margin-right: 20px;
        }
    }
}

@media screen and(max-width: 600px) {
    .footer {
        padding: 35px 30px;

        & .footer-catalog {
            max-height: $footer_height *2.2;

            & .catalog-list__item {
                width: 50%;
                margin-right: 20px;
            }
        }

        .footer-group {
            &__toggle-btn {
                background: none;
            }
        }
        
    }
}